.fichas-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .resultados-list {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  

  .productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.productos-table th,
.productos-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.productos-table th {
  background: #f89aba;
  color: white;
}


.tabla-scroll {
  max-height: 700px;   /* O la altura que quieras */
  overflow-y: auto;
  border: 1px solid #eee;
  margin-top: 12px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px #e0e0e0;
}